{% load staticfiles %}
{#https://github.com/vechnoe/clinic#}
{#Кароч#}
{#http://toly.github.io/blog/2014/03/08/tutorial-using-angularjs-with-django/#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MySuperTrello</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/lists.css" %}">
    <link rel="stylesheet" href="{% static "css/cards.css" %}">
{#    <link rel="stylesheet" href="{% static "angular/app/lib/bootstrap/dist/css/bootstrap.css" %}">#}
    <script src="{% static "angular/app/lib/angular/angular.js" %}"></script>
    <script src="{% static "js/jquery-3.4.0.min.js" %}"></script>
</head>
<body>
    {% block content %}{% endblock content %}
    {% block extra_javascript %}{% endblock extra_javascript %}
</body>
</html>