body {
    overflow: hidden;
}
#bgContainer {
    background-image: url('img/background_nature.jpg');
    background-size: cover;
    background-color: green;
    background-size: 100% 120vh;
    background-repeat: no-repeat;
    left: -100px;
    top: -100px;
    height: 120vh;
    width: 120vw;
    position: absolute;
}

.card {
    /* положение */
    margin-top: 10%;
    width: 400px;
    height: 400px;
    margin:auto;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0; 
    padding: 10px;

    background-color: white;

    border-radius: 10px;

    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5), 
                -3px 3px 3px 3px rgba(0, 0, 0, 0.5);
    vertical-align: middle;

}

h1 {
    font-family: "Arial";
}

.flex-container {
    height: 100%;
    display: flex;
    align-items: center;
}

.cardcontain {
    }

.round {
    border-radius: 200px;
/*     alignment-baseline: central; */
}

.button {
    padding: 0 10px;

}

a img:hover {
    transform: scale(1.2);
    transition: transform 0.15s linear;
}

a img:active {
    transform: scale(0.9);
    transition: transform 0.05s linear;
}