<div class="content" ng-controller="IndexController">
    <div class="list-tasks" ng-repeat="desc in $ctrl.descs">
        <div class="wrapper">
            <h3>{{ desc.name }}</h3>
            <div class="desc-card" ng-repeat="card in desc.cards">
                <div class="text">
                    {{ card.text }}
                </div>
                <div class="delete">
                    <img src="/static/img/delete.png" alt="" ng-click="$ctrl.removeCard(desc, card)">
                </div>
                <div class="div-for-close">

                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="add-cards" data-js-add-card ng-click="$ctrl.addCard(desc)">Добавить ещё одну карточку</div>
    </div>
</div>