@font-face {
    font-family: ThirstyScriptLight; /* Гарнитура шрифта */
	src: url("fonts/ThirstyScriptLight.ttf"); /* Путь к файлу со шрифтом */
}

html {
	margin: 0;
	padding: 0;
}

body {
	background-color: #0079bf;
	padding: 0;
	margin: 0;
}

header {
	background-color: #0067a3;
	color: #7fb3d1;
	margin: 0;
	padding: 10px;
    position: fixed;
    width: 100%;
}

h1, h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: ThirstyScriptLight;
}

h2 {
	font-family: Helvetica;
}

.content {
	box-sizing: border-box;
	display: flex;
	padding: 100px 20px;
}

h3 {
    font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
    color: #17394d;
	margin: 0;
	padding-bottom: 5px;
}
