{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Лабиринт</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'labirint/style.css' %}">
</head>
<body>
<div id="info">
<p>В этой игре вам предстоит нарисовать лабиринт для колобка, а колобку найти из него выход. <br>Клик левой кнопкой мыши по квадрату - заблокировать/разблокировать проход. <br>
Клик по кнопке - найти путь от начальной точки до конечной</p>
<button id="goButton" class="buttonClass">
	Найти выход
</button>
</div>
<!-- 
<div class="cell"></div>
<div class="cell"></div>
Что надо доделать:
* Экран поверх лабиринта с кнопкой отменить и информацией о том, есть ли путь
* Запихнуть ячейки в один div и выровнять его по центру
* Сделать анимацию пробега по найденному пути
 -->
<script type="text/javascript" src="{% static 'labirint/jquery-3.3.1.js' %}"></script>
<script type="text/javascript" src="{% static 'labirint/script.js' %}"></script>
</body>
</html>